-extends "private_base.haml"

-set title = "Deposit Cash"

-block content
  #admin-deposit.container
    .row: .offset4.span4
      %h2.center Deposit cash

    .row: .offset3.span6
      %form.transfer.center(action="#{uri_for('admin.deposit')}", \
                            method="POST")
        .control-group
          %label.control-label(for="recipient") Recipient's email address:
          .controls
            %input#recipient(type="email", name="recipient", \
                              value="#{request.POST.get('recipient', '')}")

          %label.control-label(for="amount") Amount
          .controls
            %input#amount.input-small(type="number", name="amount", \
                                      step="0.01", autocomplete="off", \
                                      placeholder="$0.00", \
                                      value="#{request.POST.get('amount', '')}")

          %label.control-label(for="currency") Currency
          .controls
            %select#currency(name="currency")
              -for currency in constants.CURRENCIES
                -if currency == request.POST.get('currency', '')
                  %option(value="#{currency}", selected="selected")
                    #{currency.upper()}
                -else
                  %option(value="#{currency}")
                    #{currency.upper()}

          %label.control-label(for="pin") PIN:
          .controls
            %input#pin.input-small(type="password", name="pin", maxlength="4", \
                                   autocomplete="off")

        -if not current_profile.pin:
          .alert.alert-error.center
            Please click
            %a(href="#{uri_for('profile.update')}") here
            and choose a 4-digit PIN before continuing.

        .form-actions
          %button(type="submit")
            %i.icon-check
            Add Deposit
