-extends "private_base.haml"

-set title = "Home"

-block content
  #home.container
    .row
      .offset2.span4.welcome
        %h3
          Welcome
          %span #{current_profile.get_short_name()}
          \!
      .span4.amount
        %h5#usd-balance
          %img.flag(src="media/icons/flag-us.png")
          USD
          $#{"%.2f"|format(current_profile.usd_balance/100.0)}
        %h5#jmd-balance
          %img.flag(src="media/icons/flag-jm.png")
          JMD
          $#{"%.2f"|format(current_profile.jmd_balance/100.0)}
    .row
      .button-actions
        %a.add-more-credit(href="#{uri_for('transaction.add_credit')}")
          .offset2.span2
            %img(src="media/icons/blaze-add-credit.png")
            %h5 Add more credit
        %a.pay-for-something(href="#{uri_for('transaction.purchase_list')}")
          .span2
            %img(src="media/icons/blaze-make-payment.png")
            %h5 Pay for something
        %a.send-money(href="#{uri_for('transaction.transfer')}")
          .span2
            %img(src="media/icons/blaze-send-money.png")
            %h5 Send Credit
        %a.profile(href="#{uri_for('profile.view')}")
          .span2
            %img(src="media/icons/blaze-profile.png")
            %h5 Profile

    .row
      .offset2.span8: .table-section
        #accordion.accordion
          .accordion-group
            .accordion-heading
              %a.accordion-toggle(data-toggle="collapse")
                %h4 Recent Top Ups
                  %i.pull-right.icon-caret-down
            .accordion-body.collapse
              .accordion-inner
                -include "components/user_deposits_table.haml"

          .accordion-group
            .accordion-heading
              %a.accordion-toggle(data-toggle="collapse")
                %h4 Recent Transactions Sent
                  %i.pull-right.icon-caret-down
            .accordion-body.collapse
              .accordion-inner
                -include "components/user_transactions_sent_table.haml"

          .accordion-group
            .accordion-heading
              %a.accordion-toggle(data-toggle="collapse")
                %h4 Recent Transactions Received
                  %i.pull-right.icon-caret-down

            .accordion-body.collapse
              .accordion-inner
                -include "components/user_transactions_received_table.haml"
