-extends "public_base.haml"

-set title="Sign Up"

-block content
  #signup.container
    .row
      .offset4.span4
        %h2.orange
          %i.icon-fire
          Sign Up
        %form.send-message(action="#{uri_for('signup')}", method="POST")

          .control-group
            %label.control-label(for="name") Name:
            .controls
              %input#name(type="text", name="name", required="required", \
                          data-error="#{form.errors.get('name', '')}", \
                          value="#{request.POST.get('name', '')}")

          .control-group
            %label.control-label(for="email") E-mail address:
            .controls
              %input#email(type="email", name="email", required="required", \
                           data-error="#{form.errors.get('email', '')}", \
                           value="#{request.POST.get('email', '')}")

          .control-group
            %label.control-label(for="password") Password:
            .controls
              %input#password(type="password", name="password", required="required", \
                              data-error="#{form.errors.get('password', '')}", \
                              autocomplete="off")

          .control-group
            %label.control-label(for="pin") Choose a 4-digit PIN:
            .controls
              %input#pin(type="password", name="pin", required="required", \
                         data-error="#{form.errors.get('pin', '')}", maxlength="4", \
                         autocomplete="off")

            By signing up, you agree to our
            %a(href="#{uri_for('terms')}")
              terms of use
            and
            %a(href="#{uri_for('privacy')}")
              privacy policy.

          .form-actions
            %button(type="submit", data-spinner="Signing up...")
              %i.icon-thumbs-up
              Sign Up
