-extends "private_base.haml"

-set title = "Pay at " ~ organization.name

-block content
  #transaction.container
    .row: .span10
      %h2.center: Pay at #{organization.name}

    .row
      .span10
        %form.purchase.center(\
            action="{{ uri_for('transaction.purchase', \
                       id=organization.key().id()) }}", \
            method="POST")
          .control-group
            %label.control-label(for="amount") Amount
            .controls
              $
              %input#amount.input-small(type="number", name="amount", step="0.01", \
                                        autocomplete="off", placeholder="0.00", \
                                        required="required")

          .control-group
            %label.control-label Tip Percentage
            .controls
              .btn-group
                %a.btn.tip(data-percent=".10") 10%
                %a.btn.tip(data-percent=".15") 15%
                %a.btn.tip(data-percent=".25") 25%

          .control-group
            %label.control-label(for="tip_amount") Tip Amount
            .controls
              $
              %input#tip_amount.input-small(type="number", name="tip_amount", \
                                            step="0.01", autocomplete="off", \
                                            placeholder="0.00", value="0")
          .control-group
            %label.control-label(for="currency") Currency
            .controls
              %select#currency(name="currency")
                %option(value="#{constants.JMD_CURRENCY}") JMD
                %option(value="#{constants.USD_CURRENCY}") USD

          -if not current_profile.pin:
            .alert.alert-error
              Please click
              %a(href="#{uri_for('profile.update')}") here
              and choose a 4-digit PIN before continuing.

          -else
            .control-group
              %label.control-label(for="pin") PIN:
              .controls
                %input#pin.input-small(type="password", name="pin", maxlength="4", \
                                      required="required")

          .form-actions
            %a.btn.btn-large.btn-danger(\
                href="#{uri_for('transaction.purchase_list')}")
              %i.icon-signout
              Back to list
            %button(type="submit", \
                    data-spinner="Making purchase...")
                    %i.icon-check
                    Make Purchase

      .span2
        -include "components/basic_info_section.haml"
