-extends "private_base.haml"

-set title = transaction.recipient.name

-block content
  #transaction.container
    .row: .span12.transaction-heading
      -if transaction.verifier
        %h2.verified
          %i.icon-check
          Verified by #{transaction.verifier.name}

      -if current_profile and transaction.sender.key() == current_profile.key()
        -set receipt_url = uri_for('transaction.verify', uuid=transaction.uuid)
        %h3 Scan this barcode for a receipt.
        %img.qr-code(src="#{receipt_url|qr_code}")

    -if (current_staff and \
             transaction.transaction_type == transaction.Type.Purchase and \
             transaction.status == transaction.Status.Completed and \
             transaction.recipient.is_viewable_by(current_staff))
      .row: .span12: .staff-actions
        -if not transaction.verifier
          %form#staff-form(action="#{uri_for('staff.verify')}", \
                           method="POST")
            %input#uuid(type="hidden", name="uuid", \
                                    value="#{transaction.uuid}")
            %button#verify-button(type="submit")
              %i.icon-ok
              Verify transaction

        -if transaction.is_refundable_by(current_staff)
          %form#refund-form(action="#{uri_for('staff.refund')}", \
                            method="POST")
            %input#transaction(type="hidden", name="transaction", \
                               value="#{transaction.uuid}")
            %button#refund-button(type="submit")
              %i.icon-remove
              Refund

    %table#transaction-table.compact-table.table.table-bordered(\
      data-uuid="#{transaction.uuid}")
      %h1.center #{transaction.recipient.name}
      %h2#status.center
        Status:
        %span #{transaction.status}

      %thead
        %tr
          %td.important Account Name
          %td Recipient
          %td.important transaction Date
          %td.important Amount
          -if transaction.transaction_type == transaction.Type.Purchase
            %td Tip
      %tbody
        %tr(class="#{transaction.status}")
          %td.important(data-title="Account Name")
            #{transaction.sender.name}
          %td(data-title="Recipient")
            #{transaction.recipient.name}
          %td.important(data-title="transaction Date")
            #{transaction.created|format_datetime()}
          %td.important(data-title="Amount")
            #{transaction.get_transaction_amount()}
          -if transaction.transaction_type == transaction.Type.Purchase
            %td(data-title="Tip")
              $#{"%.2f"|format(transaction.tip_amount/100)}
