%h4 Totals
%table#totals.compact-table.table
  %thead
    %tr
      %td USD Total
      %td JMD Total

  %tbody
    %tr
      %td(data-title="USD Total")
        #{'$ %.2f'|format(usd_total/100)}
      %td(data-title="JMD Total")
        #{'$ %.2f'|format(jmd_total/100)}

%h4 Transactions
-if transactions.count(limit=1)
  %table#transactions.compact-table.table
    %thead
      %tr
        %td Name
        %td Date
        %td Amount
        %td Status

    %tbody
      -for transaction in transactions.order('-created')
        %tr(class="#{transaction.status}")
          %td(data-title="Name")
            #{transaction.recipient.name}
          %td(data-title="Date")
            #{transaction.created|format_date()}
          %td(data-title="Amount")
            #{transaction.get_transaction_amount()}
          %td(data-title="Status")
            #{transaction.status}

-else
  %tr.empty
    %h5 No cash deposited.
    .button-actions
      %a.btn.btn-success(href="#{uri_for('admin.deposit')}")
        %i.icon-plus
        Add cash deposit
